.wish-list-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
  gap: 30px;
}
.wish-list-menu-container > h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}
.wish-list-menu-container > h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.list-name,
.open-another-list {
  background: #00a9bb;
  padding: 0 20px 0 20px;
  display: flex;
  font-weight: 700;
  color: #001f36;
  font-size: 3rem;
  position: relative;
  margin-bottom: 2rem;
}
.open-another-list {
  margin-top: 2rem;
  padding: 1rem;
}
.list-area {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #00a9bb;
  max-width: 850px;
}

.list-name:after,
.list-area:after,
.open-another-list::after {
  z-index: -1;
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}
.open-another-list-btn {
  background-color: #001f36;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  padding: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}
.open-another-list-btn:hover {
  transform: scale(1.1), translateY(10deg);
}

@media (max-width: 700px) {
  .wish-list-menu-container > h1 {
    font-size: 3rem;
  }
  .wish-list-menu-container > h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .wish-list-menu-container > h1 {
    font-size: 2rem;
  }
  .wish-list-menu-container > h2 {
    font-size: 1.2rem;
  }
  .list-area {
    padding: 10px;
  }
}
