.wish-list-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}
.wish-list-menu-container > h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}
.wish-list-menu-container > h2 {
  color: white;
  text-align: center;
  font-size: 2rem;
}
.list-name {
  background: #00a9bb;
  padding: 0 20px 0 20px;
  display: flex;
  font-weight: 700;
  color: #001f36;
  font-size: 3rem;
  position: relative;
  margin-bottom: 2rem;
}
.list-area {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #00a9bb;
  max-width: 850px;
}

.list-name:after,
.list-area:after {
  z-index: -1;
  content: "";
  position: absolute;
  border: 1px solid white;
  bottom: -4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

@media (max-width: 700px) {
  .wish-list-menu-container > h1 {
    font-size: 3rem;
  }
  .wish-list-menu-container > h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .wish-list-menu-container > h1 {
    font-size: 2rem;
  }
  .wish-list-menu-container > h2 {
    font-size: 1.2rem;
  }
  .list-area {
    padding: 10px;
  }
}
