.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 100px;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #001220;
  color: white;
  user-select: none;
}

.logo {
  margin-right: auto;
  color: white;
}

.header-container > ul {
  display: flex;
  gap: 20px;
}
.header-item {
  padding: 8px;
  border: 1px solid transparent;
}
.header-item:hover {
  border: 1px solid white;
}
.active {
  border: 1px solid white;
}

ul,
li {
  list-style: none;
}
.custom-shape-divider-top-1646235534 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1646235534 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1646235534 .shape-fill {
  fill: #001220;
}
